<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <style>
        a {
            text-decoration: none;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr:hover {
            opacity: 0.8;
        }

        p {
            margin: 0;
        }

        td {
            padding: 0;
        }
    </style>
</head>

<body>
    <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="
        font-family: Arial, Helvetica, sans-serif;
        max-width: 600px;
        margin: auto;
      ">
        <tr>
            <td>
                <!-- social media links -->
                <table style="margin-top: 4rem" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td style="padding-top: 10px; outline: none; text-decoration: none" align="center">
                            <a href="https://www.facebook.com/sliitmozilla">
                                <img src="https://i.ibb.co/S7WDhF7h/facebook.jpg" alt="facebook" width="15" height="15"
                                    style="color: #ff6600; padding: 0 4px" />
                            </a>
                            <!-- instagram -->
                            <a href="https://www.instagram.com/sliitmozilla">
                                <img src="https://i.ibb.co/SXc15xB5/instagram.jpg" alt="instagram" width="15"
                                    height="15" style="color: #ff6600; padding: 0 4px" />
                            </a>
                            <!-- github -->
                            <a href="https://github.com/Mozilla-Campus-Club-of-SLIIT">
                                <img src="https://i.ibb.co/N6QBhmvV/github.jpg" alt="github" width="15" height="15"
                                    style="color: #ff6600; padding: 0 4px" />
                            </a>
                            <!-- youtube -->
                            <a href="https://www.youtube.com/@sliitmozilla">
                                <img src="https://i.ibb.co/DHCYL5GD/youtube.jpg" alt="youtube" width="15" height="15"
                                    style="color: #ff6600; padding: 0 4px" />
                            </a>
                            <!-- linkedin -->
                            <a href="https://www.linkedin.com/company/sliitmozilla/">
                                <img src="https://i.ibb.co/yFhdBXdr/linkedin.jpg" alt="linkedin" width="15" height="15"
                                    style="color: #ff6600; padding: 0 4px" />
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <!-- Footer -->
                <table style="margin-top: 5px">
                    <tr>
                        <td align="center" style="
                  padding: 40px;
                  background-color: #f0f0f0;
                  font-size: 12px;
                  color: #777777;
                ">
                            <p>
                                &copy; 2025
                                <a href="https://www.sliitmozilla.org/" target="_blank"
                                    style="color: #777777; text-decoration: underline">Mozilla-Campus-Club-of-SLIIT</a>.
                                All rights reserved.
                            </p>
                            <p style="margin: 5px 0 0 0">
                                <a href="{{ unsubscribe_link }}" target="_blank" style="
                      color: #ff6600;
                      font-family: Arial, Helvetica, sans-serif;
                      font-size: 12px;
                      text-decoration: underline;
                    ">
                                    Unsubscribe
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>